.App {
  font-family: sans-serif;
  text-align: left;
  margin: auto;
  max-width: 600px;
  color: #03254c;
  padding: 3rem;
}
.Nav {
  background-color: #03254c;
  position: sticky;
  color: white;
  height: 4rem;
  width: 100%;
  margin: 0;
  padding-top: 1.5rem;
  font-family: sans-serif;
  text-align: center;
}
.Nav h2 {
  margin: 0;
}

.Form {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.sub-btn {
  font-size: 1.5rem;
  background-color: #03254c;
  color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 3rem;
  border: 0;
  border-radius: 1rem;
}
label {
  float: left;
}
input {
  float: right;
  padding: 0.5rem;
}
.forminp {
  margin: 2rem;
}
.result {
  margin-left: 35%;
  font-weight: 600;
}
